:root {
  --main-color: rgb(224, 224, 224);
  --canvas-color: rgb(250, 250, 250);
  --right-div-color: rgb(244, 244, 244);
  --button-color: rgb(25, 118, 210);
  --slider-color: rgb(230, 250, 255);
  --button-text-color: rgba(255, 255, 255, .95);
  --button-text-focus-color: rgb(40, 15, 0);
  --number-field-color: rgb(252, 252, 252);
  --number-field-height: 50px;
}

#mega {
  width: 95%;
  margin-left: 30px;
}

h1 {
  border-left: thick double var(--main-color);
  border-left-width: 20px;
}

body {
  font: 24px sans-serif;
  border-left: thick double var(--main-color);
  border-left-width: 10px;
  color: #00cccc;
  /*background-color: #282c34*/
  background-color: var(--main-color);
}

.mocha-canvas {
	background-color: var(--canvas-color);
}

.tuning-div {
  border: 2px solid blue;
  border-radius: 25px;
}

.tune-label {
  width: auto;
  text-align: center;
  display: block;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 60px;
  border-radius: 3px;
  background: var(--slider-color);
  cursor: pointer;
}

.left-div {
  margin-right: 0px;
  padding-right: 0px;
}


.right-div {
  padding-top: 10px;
  margin-left: -20px;
  background-color: var(--right-div-color);
  border-radius: 20px;
  border: 1px solid black;
}

.btn-mocha {
  color: var(--button-text-color);
  background-color: var(--button-color);
  opacity: 1;
  font-size: 24px;
  width: 200px;
  height: 50px;
  transition: color 0.1s;
}

.btn-mocha:focus {
  color: var(--button-text-color);
}
.btn-mocha:active,
.btn-mocha.active {
  color: var(--button-text-color);
  filter: brightness(90%);
  opacity: .7;
}
.btn-mocha:hover {
  filter: brightness(130%);
  color: var(--button-text-focus-color);
}

.btn-centerThree {
  margin-left: 1px;
  margin-right: -2px;
  margin-bottom: 6px;
  height: 120px;
  width: 283px;
}

.btn-mocha-right {
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
}

.btn-mocha-bottom {
  margin-bottom: 30px;
  height: 90px;
  width: 520px;
}

.threeButtons {
  margin-left: -1px;
}

.bpm-timer-label {
  width: 370px;
  font-size: 40px;
}

/*.bpm-timer-input {
  width: 200px;
  height: 90px;
  font-size: 60px;
  text-align: right;
}*/

.plus-minus {
  cursor: pointer;
  transition: color 0.2s;
}
.plus-minus:hover { color: #00fae3; }

input[type=number] {
  -moz-appearance:textfield;
  width: 80px;
  border: 0px solid;
  text-align: center;
  padding: 4px;
}

.number-field {
  background: var(--number-field-color);
  color: #222;
  height: var(--number-field-height);
  font-size: 40px;
  padding: 5px;
  margin-right: 20px;
}

.import-mocha {
  width:1px;
  height:1px;
  opacity: 0;
}

.hiddenP {
  display: none;
  /*opacity: 0;*/
}

.circleBase {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.cursor {
  background: red;
}

.cursorClick {
  background: green;
}

/*-------------------------------TOGGLE SWITCH CSS ---------------------------------*/
/*TOGGLE SWITCH CSS - From: http://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

/*------------------------------ END TOGGLE -------------------------------------------*/

/* adapted from:
http://stackoverflow.com/questions/32976961/how-do-you-add-a-bootstrap-icon-to-an-canvas-using-javascript-if-there-is-a-wa */
@font-face {
  font-family: 'glyphicon';
  src: url('./fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
